<link rel="stylesheet" href="/styles/delete.css" />


<%# let msg = ""; %>
<%# if (typeof message !== "undefined") { %>
    <%#   msg = message; %>
<%# } else { %>
    <%# msg = errorMessage; %>
<%# } %>

<% const id = profile._id %>
<form 
    action="/profiles/delete/<%= profile._id %>"
    method="post"
>
    <section class="contact-page">
        <div class="details-title-container">
            <h2 class="details-h2">Delete Profile</h2>
            <span><a href="/profiles" class="details-edit-bt">Return to List</a></span>
        </div>
        
        <div class="delete-container">
            <h2 id="message" class="delete-message"> <%= message %> </h2>
            
            <div class="edit-texts-container">
                <%# if (typeof errorMessage === "undefined") { %>
                    <h2>First Name: <%= profile.firstName %></h2>
                    <h2>Last Name: <%= profile.lastName %></h2>
                    <h2>Email: <%= profile.email %></h2>
                    <h2>Username: <%= profile.username %></h2>
                <%# } %>
            </div>

            <div class="delete-buttons-container">
                <%# if (typeof showButtons !== "undefined") { %>
                    <input 
                        id="deleteButton"
                        class="delete-button"
                        type="submit"
                        value="I am sure!"
                    >
                <%# } %>
        </div>
    </section>
</form>