<% let isAdmin = ""; %>
<% if (profile && profile.roles && profile.roles.isAdmin) { %>
    <% isAdmin = "checked"; %>
<% } %>

<% let isManager = ""; %>
<% if (profile && profile.roles && profile.roles.isManager) { %>
    <% isManager = "checked"; %>
<% } %>

<link rel="stylesheet" href="/styles/search.css" />


<section class="profiles-page">

    <%- include('./layouts/search.ejs') %>

    <input type="checkbox" name="showRetturn" value="true" hidden />

    <div class="profiles-list-table">
        <table>
            <% if (profiles.length > 0) { %>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <% if (isAdmin || isManager) { %>
                        <th></th>
                    <% } %>
                </tr>
                <% for (let i = 0; i < profiles.length; i++) { %>
                    <a href="../profiles/<%= profiles[i].id %>">
                        <tr>
                            <td>
                                <a href="../profiles/<%= profiles[i].id %>"><%= profiles[i].lastName %></a>
                            </td>
                            <td>
                                <a href="../profiles/<%= profiles[i].id %>"><%= profiles[i].firstName %></a>
                            </td>
                            <td>
                                <a href="../profiles/<%= profiles[i].id %>"><%= profiles[i].email %></a>
                            </td>
                            <td>
                                <a href="../profiles/<%= profiles[i].id %>"><%= profiles[i].username %></a>
                            </td>
                            <td class="profiles-list-table-buttons">
                                <% if (isAdmin || isManager) { %>
                                <a href="/profiles/edit/<%= profiles[i].id %>" class="edit-icon">
                                    <img src="/icons/edit-icon.png" alt="Edit" height='25' width='25' title="Edit Profile">
                                </a>
                                <% } %>
                                <% if (isAdmin) { %>
                                    <a href="/profiles/delete/<%= profiles[i].id %>" class="delete-icon">
                                        <img src="/icons/delete-icon.png" alt="Delete" height='25' width='25' title="Delete Profile">
                                    </a>
                                <% } %>
                            </td>
                        </tr>
                    </a>
                <% } %>
            <% } else { %>
                <h3><%= message %></h3>
            <% } %>
        </table>
    </div>
</section>
