
<% let msg = ""; %>
<% if (typeof message !== "undefined") { %>
    <%   msg = message; %>
<% } %>

<% if (typeof visitingTo !== "undefined") { %>
    <% profile = visitingTo; %>
<% } %>
<%# console.log("=============msg = ", profile, visitingTo, "!!!"); %>

<article class="profile-container">
    <section class="profile-section">
        <section class="profile-section1">
            <div class="details-title-container">
                <h2 class="details-h2"><%= profile.firstName %></h2>
                <!-- check if is manager or admin - it has to be allowed only if that is true-->
                <span><a href="/profiles/edit/<%= profile._id %>" class="details-edit-bt">Edit</a></span>
            </div>

            <% if (msg !== "") { %>
                <h2 id="message" class="success-message"> <%= msg %> </h2>
            <% } %>

            <div class="details-profile-container">
                <div 
                    class="img-container"
                >
                    <!-- <h1 class="profile-name"><%= profile.name %></h1> -->
                    <% if ((typeof profile.imagePath === "undefined") || (profile.imagePath.length < 1)) { %>
                        <h4 class="text-centered">No picture added so far</h4>
                    <% } else { %>
                        <img
                            src="/images/<%=profile.imagePath%>"
                            alt=""
                            width="100%"
                            class="profile-pic"
                        />
                    <% } %>

                    <div class="profile-inters">
                        <h3>Interests</h3>
                        <% if (profile.interests.length < 1) { %>
                            <h4 class="text-centered">No interestes added so far</h4>
                        <% } else { %>
                            <ul class="profile-list">
                                <% for (let i = 0; i < profile.interests.length; i++) { %>
                                    <li><%= profile.interests[i]%></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                </div>
                
                <div class="comments-container">
                    <h3>Comments</h3>

                    <% if (profile.receivedComments && profile.receivedComments.length > 0) { %>
                        <% for (let k = 0; k < profile.receivedComments.length; k++) { %>
                            <% const d = new Date(profile.receivedComments[k].datePosted); %>
                            <% const year = d.getFullYear(); %>
                            <% const month = d.toLocaleString('default', { month: 'short' }); %>
                            <% const day = d.getDate(); %>
                            <% const hour = d.getHours(); %>
                            <% const minutes = d.getMinutes() > 9 ? d.getMinutes() : `0${d.getMinutes()}`; %>
                            <% const completeDt = `${month} ${day}, ${year} - ${hour}:${minutes}`; %>
                            <% const title = `${profile.receivedComments[k].senderName}'s_profile`; %> 
                            <% // title does not accept space %>
                            <div class="individual-comment">
                                <span
                                    title= <%= title %>
                                >
                                    <a href="<%= profile.receivedComments[k].profileId %>">
                                        <%= profile.receivedComments[k].senderName %>
                                    </a> — <%= completeDt %>
                                </span>
                                <p>
                                    <%= profile.receivedComments[k].message %>
                                </p>
                            </div>
                        <% } %>
                    <% } %>

                    <div class="individual-comment">
                        <span id="open-submit-comment-form">
                            New Comment
                        </span>
                    
                        <%- include('./partials/newComment.ejs', {profileId: profile._id}) %>
                    </div>
                </div>
            </div>

        </section>

        <section class="profile-section2">
            <div class="sideBar-others">
                <%- include('./layouts/sideBar.ejs') %>
            </div>
        </section>

    </section>
</article>
