
<% let msg = ""; %>
<% if (typeof message !== "undefined") { %>
    <%   msg = message; %>
<% } %>

<% let isAllowedEdit = false; %>
<% if ((profile._id.toString() === editor._id.toString()) || (editor.roles.isManager) || (editor.roles.isAdmin)) { %>
    <% isAllowedEdit = true; %>
<% } %>

<% let isAllowedDelete = false; %>
<% if (editor.roles.isAdmin) { %>
    <% isAllowedDelete = true; %>
<% } %>


<article class="profile-container">
    <section class="profile-section">
        <section class="profile-section1">
            <div class="details-title-container">
                <h2 class="details-h2"><%= profile.firstName %></h2>
                <!-- check if is manager or admin - it has to be allowed only if that is true-->
                <% if (isAllowedEdit) { %>
                    <a href="/profiles/edit/<%= profile._id %>" class="edit-icon">
                        <img src="/icons/edit-icon.png" alt="Edit" height='25' width='25' title="Edit Profile">
                    </a>
                <% } %>
                <% if (isAllowedDelete) { %>
                    <a href="/profiles/delete/<%= profile._id %>" class="delete-icon">
                        <img src="/icons/delete-icon.png" alt="Delete" height='25' width='25' title="Delete Profile">
                    </a>
                <% } %>
            </div>

            <% if (msg !== "") { %>
                <h2 id="message" class="success-message"> <%= msg %> </h2>
            <% } %>

            <div class="details-profile-container">
                <div 
                    class="img-container"
                >
                    <% if ((typeof profile.imagePath === "undefined") || (profile.imagePath.length < 1)) { %>
                        <h4 class="text-centered">No picture added so far</h4>
                    <% } else { %>
                        <img
                            src="/images/<%=profile.imagePath%>"
                            alt=""
                            width="100%"
                            class="profile-pic"
                        />
                    <% } %>

                    <div>
                        <h3 class="detail-items">First Name: <%= profile.firstName %></h3>
                        <h3 class="detail-items">Last Name: <%= profile.lastName %></h3>
                        <h3 class="detail-items">Username: <%= profile.username %></h3>
                        <h3 class="detail-items">Email: <%= profile.email %></h3>
                    </div>
                    
                    <div class="profile-inters">
                        <h3>Interests</h3>
                        <% if (profile.interests.length < 1) { %>
                            <h4 class="text-centered">No interestes added so far</h4>
                        <% } else { %>
                            <ul class="profile-list">
                                <% for (let i = 0; i < profile.interests.length; i++) { %>
                                    <li><%= profile.interests[i]%></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                </div>
                
                <div class="comments-container">
                    <h3>Comments</h3>

                    <% if (profile.receivedComments && profile.receivedComments.length > 0) { %>
                        <% for (let k = 0; k < profile.receivedComments.length; k++) { %>
                            <% const d = new Date(profile.receivedComments[k].datePosted); %>
                            <% const year = d.getFullYear(); %>
                            <% const month = d.toLocaleString('default', { month: 'short' }); %>
                            <% const day = d.getDate(); %>
                            <% const hour = d.getHours(); %>
                            <% const minutes = d.getMinutes() > 9 ? d.getMinutes() : `0${d.getMinutes()}`; %>
                            <% const completeDt = `${month} ${day}, ${year} - ${hour}:${minutes}`; %>
                            <% const title = `${profile.receivedComments[k].senderName}'s_profile`; %> 
                            <% // title does not accept space %>
                            <div class="individual-comment">
                                <span>
                                    <% if (!profile.receivedComments[k].removed) { %>
                                        <a 
                                            href="<%= profile.receivedComments[k].profileId %>"
                                            title= <%= title %>
                                        >
                                            <%= profile.receivedComments[k].senderName %>
                                        </a> — <%= completeDt %>
                                    <% } else { %>
                                        <span 
                                            title="Profile has been removed"><%= profile.receivedComments[k].removed %>
                                        </span> — <%= completeDt %>
                                    <% } %>
                                </span>
                                <p>
                                    <%= profile.receivedComments[k].message %>
                                </p>
                            </div>
                        <% } %>
                    <% } %>

                    <div class="individual-comment">
                        <span id="open-submit-comment-form">
                            New Comment
                        </span>
                    
                        <%- include('./partials/newComment.ejs', {profileId: profile._id}) %>
                    </div>
                </div>
            </div>

        </section>

        <section class="profile-section2">
            <div class="sideBar-others">
                <%- include('./layouts/sideBar.ejs') %>
            </div>
        </section>

    </section>
</article>
