<link rel="stylesheet" href="/styles/edit.css" />

<% let msg = ""; %>
<% if (typeof errorMessage !== "undefined") { %>
    <%   msg = errorMessage; %>
<% } %>

<% if (typeof message !== "undefined") { %>
    <%   msg = message; %>
<% } %>

<% let editorIsAdmin = ""; %>
<% if (editor && editor.roles && editor.roles.isAdmin) { %>
    <% editorIsAdmin = true; %>
<% } %>

<% let editorIsManager = ""; %>
<% if (editor && editor.roles && editor.roles.isManager) { %>
    <% editorIsManager = true; %>
<% } %>

<% let profileIsAdmin = ""; %>
<% if (profile.roles.isAdmin) { %>
    <% profileIsAdmin = "checked"; %>
<% } %>

<% let profileIsManager = ""; %>
<% if (profile.roles.isManager) { %>
    <% profileIsManager = "checked"; %>
<% } %>

<% let cannotEdit = "disabled"; %>
<% if (editorIsAdmin || (profile._id.toString() === editor._id.toString())) { %>
    <% cannotEdit = "" %>
<% } %>


<form 
    action="/profiles/update/<%= profile._id %>"
    method="post"
    enctype="multipart/form-data"
>
    <section class="contact-page">
        <div class="details-title-container">
            <h2 class="details-h2">Edit Profile</h2>
            <span><a href="/profiles/<%= profile._id %>" class="details-edit-bt">Return to <%= profile.firstName %>'s page</a></span>
            
            <% if (editorIsAdmin) { %>
                <a href="/profiles/delete/<%= profile._id %>" class="delete-icon">
                    <img src="/icons/delete-icon.png" alt="Delete" height='25' width='25' title="Delete Profile">
                </a>
            <% } %>
        </div>

        <% if (msg) { %>
            <h2 id="message" class="message <%= cssClass %>"> <%= msg %> </h2>
        <% } %>

        <input type="text" name="username" value="<%= profile.username %>" hidden>
        <div class="edit-items-container">
            <div class="edit-sub-items-container">
                <div class="edit-sub-div">
                    <div class="edit-items">
                        <span class="edit-inputs-label">First Name:</span>
                        <input type="text" name="firstName" value="<%= profile.firstName %>" class="edit-inputs" 
                                tabindex="1" <%= cannotEdit %> >
                    </div>
                    <div class="edit-items">
                        <span class="edit-inputs-label">Username:</span>
                        <input type="text" value="<%= profile.username %>" class="edit-inputs" disabled>
                    </div>
                    <div class="edit-items">
                        <span class="edit-inputs-label">Password:</span>
                        <input type="password" name="newPassword" id="newPassword" class="edit-inputs" title="New Password?" 
                                tabindex="4" <%= cannotEdit %> >
                    </div>
                </div>
                <div class="edit-sub-div">
                    <div class="edit-items">
                        <span class="edit-inputs-label">Last Name:</span>
                        <input type="text" name="lastName" value="<%= profile.lastName %>" class="edit-inputs" 
                                tabindex="2" <%= cannotEdit %> >
                    </div>
                    <div class="edit-items">
                        <span class="edit-inputs-label">Email:</span>
                        <input type="email" name="email" value="<%= profile.email %>" class="edit-inputs" 
                                tabindex="3" <%= cannotEdit %> >
                    </div>
                    <div class="edit-items">
                        <span class="edit-inputs-label">Confirm:</span>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="edit-inputs" 
                            title="Confirm new password" tabindex="5" <%= cannotEdit %> >
                    </div>
                </div>
            </div>

            <%# when editing a admin profile %>
            <% if (cannotEdit) { %>
                <input type="checkbox" id="isAdmin" name="isAdmin" <%= profileIsAdmin %> hidden />
            <% } %>

            <% if (editorIsAdmin || editorIsManager) { %>
                <h2 class="edit-inputs-label">Permissions</h2>
                <div class="edit-permissions-container">
                    <% if (editorIsAdmin) { %>
                        <input type="checkbox" id="isAdmin" name="isAdmin" <%= profileIsAdmin %> />
                        <label for="isAdmin"> Is Admin</label>
                    <% } %>
                    <% if (editorIsAdmin || editorIsManager) { %>
                        <input type="checkbox" id="isManager" name="isManager" <%= profileIsManager %> />
                        <label for="isManager"> Is Manager</label>
                    <% } %>
                </div>
            <% } %>

            <%- include('./partials/interests.ejs', { profile: profile, cannotEdit}) %>

            <input type="text" name="tempImagePath" value="<%= profile.imagePath %>" hidden />
            
            <h2>Profile's picture</h2>
            <span>Change Picture</span>
            <input type="file" name="imagePath" accept="image/gif, image/jpeg" / <%= cannotEdit %> >
            <% if (profile.imagePath) { %>
                <img
                    src="/images/<%= profile.imagePath %>"
                    alt=""
                    width="100%"
                    class="profile-pic"
                />
            <% } else { %>
                    <h4 class="text-centered">No picture added so far</h4>
            <% } %>

            <input 
                id="updateButton"
                type="submit"
                title="Click to save the new data"
                value="Update Profile"
            >
        </div>
    </section>
</form>

<script type="text/javascript" src="/js/validate-password.js"></script>

