<link rel="stylesheet" href="/styles/register.css" />
<link rel="stylesheet" href="/styles/edit.css" />

<% let msg = ""; %>
<% let errorClass = "error-message-none"; %>
<% if (typeof errorMessage !== "undefined") { %>
    <% msg = errorMessage; %>
    <% errorClass = "error-message-yes"; %>
    <% console.log("profile on EJS === ", profile, errorMessage); %>
<% } %>
<% console.log("msg= ", msg); %>

<form 
    action="/register"
    method="post"
    enctype="multipart/form-data"
>
    <section class="register-container">
        <h2 class="contact-h2">Create Account</h2>
        
        <div class="form-container">
            <input type="text" name="username" class="register-inputs margin-botton asd" placeholder="* Your username"
                 title="Enter your username - Mandatory" value="<%= (profile && profile.username) || ''%>" autofocus id="username">
            <input type="email" name="email" class="register-inputs margin-botton" placeholder="Email" 
                title="Enter your Email" value="<%= (profile && profile.email) || ''%>">
            <input type="password" name="password" class="register-inputs margin-botton asd" placeholder="* Password" 
                title="Enter your Password - Mandatory" id="password">
            <input type="password" name="confirmPassword" class="register-inputs margin-botton" placeholder="* Confirm your password" 
                title="Confirm your Password - Mandatory" id="confirmPassword">
            <input type="text" name="firstName" class="register-inputs margin-botton" placeholder="* First Name"
                 title="Enter your First Name - Mandatory" value="<%= (profile && profile.firstName) || ''%>" id="firstName">
            <input type="text" name="lastName" class="register-inputs" placeholder="* Last Name"
                 title="Enter your Last Name - Mandatory" value="<%= (profile && profile.lastName) || ''%>" id="lastName">


            <%- include('../partials/interests.ejs', { profile: profile}) %>
            
            
            <h2>Add your picture</h2>
            <input type="file" id="image-path" name="imagePath" accept="image/gif, image/jpeg" />
            
            <% if (msg) { %>
                <h2 id="message" class="error-message"> <%= msg %> </h2>
            <% } %>

            <input 
                id="registerButton"
                class="register-button"
                type="submit"
                title="Click to create your account"
                value="Register"
            >
        </div>
    </section>
</form>

<script type="text/javascript" src="/js/code-register.js"></script>
<script type="text/javascript" src="/js/register-inputs.js"></script>
